$theme-color: var(--primary-color);
$theme-color-secondary: var(--secondary-color);
$blue: #56698f;
$blue-secondary: #353D54;
$blue-primary: #586C92;
$white: #fff;
$white-secondary: #F2F2F2;
$green: #B2D63C;
$orange: #EF7F1A;

$small: 1280px;
$medium: 1920px;